*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 40, 40);
    background-image: radial-gradient(circle, rgb(41, 40, 40),rgb(20, 20, 20),rgb(0, 0, 0));

}
footer{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color:white;
    margin:16px;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#calculator-container{
    box-shadow:12px 12px 15px rgb(27, 27, 27);
    border-radius: 16px;
    padding:16px;
    height:450px;
    width:300px;
    background: #d6d6d6;
}

.shameOnYou{
    background-image: url(images/hmm.png);
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    padding:12px;
    flex:1;
    background-color:white;
    border-radius: 8px;
    height:128px


}
#display-container{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    padding:12px;
    flex:1;
    background-color:white;
    border-radius: 8px;
    height:128px
}

.calcKeys{
    margin:16px 0;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(48px auto);
    grid-row-gap:8px;
    grid-column-gap:8px;

}

#raw-display{
    margin-bottom: 16px;
}
#display{
    font: 800 32px sans-serif;
}
.buttons,
.operator,
.functions{
    color:rgb(97, 97, 97);
    height:48px;
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;

}
.buttons:hover{
    background-color: rgb(212, 212, 212);
}

.operator:hover{
    background-color:#e07801;

}
.functions:hover{
    background-color: #707070;

}
.functions{
    color:white;
    background-color: #a1a1a1;
}
.buttons{
    background-color:#ececec;
}
.operator{
    color:white;
    background-color:#ed8f12;
}
.buttons#zero{
  grid-column-start: 1;
  grid-column-end:3;
}